<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ClubMng_DbEntities" connectionString="metadata=res://*/ClubMngModel.csdl|res://*/ClubMngModel.ssdl|res://*/ClubMngModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=ClubMng_Db;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="ClubMng_DbEntiti" connectionString="metadata=res://*/ClubManageModel.csdl|res://*/ClubManageModel.ssdl|res://*/ClubManageModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=ClubMng_Db;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>